/*Ipad ngang (1024x768)*/
@media screen and (max-width: 1024px) {
    #wrapper {
        width: 100%;
    }

}

/*Ipad dọc (768x1024)*/
@media screen and (max-width: 768px) {
    #main-menu {
        display: none;
    }

    #icon-menu-responsive {
        display: block;
    }
}

/*tablet nhỏ (480x640)*/
@media screen and (max-width: 480px) {

    #content,
    #sidebar,
    #header {
        width: 100%;
    }
}

/*Iphone (480x640)*/
@media screen and (max-width: 320px) {}

/*smart phone nhỏ */
@media screen and (max-width: 240px) {}