#wrapper {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0px auto;

}

#header .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

#header .container img {
    width: 170px;
    height: 60px;
    padding-top: 25px;
}

#header .container .main-menu button {
    border: 0px;
    background: white;
}

#header .container ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 12px;

}

#header .container ul li {
    font-size: 20px;
    padding: 15px;

}

#header .container ul li a {
    color: black;
}


#header .container .icon a i {
    font-size: 20px;
    padding: 15px;
    padding-top: 43px;
    color: black;
}

/* end header */
#breadcrums .container {
    display: flex;
    background: #e9e9e9;

    width: 100%;
    /* justify-content: space-between; */
}


#breadcrums .container .icon-home,
.icon-angle-right {
    font-size: 18px;
    padding-top: 8px;
}

#breadcrums .container .icon-home {
    padding-left: 166px;
    padding-right: 9px;
}

#breadcrums .container .icon-angle-right {
    padding: 9px;
}

#breadcrums .container a {
    text-transform: capitalize;
    padding: 9px;
    color: black;
}

/* end  breadcrums */
 

/* end content */
#sidebar {
    padding-top: 20px;
}

#sidebar .hot-product .price,
.button {
    font-size: 13px;
}

#sidebar ul {
    border: 1px solid #d4d4d4;
    padding: 0px;
    width: 305px;
}

#sidebar ul li {
    border-top: 1px solid #d4d4d4;
    padding: 12px 0px 12px 0px;
    margin: 0px 25px;
    font-weight: bold;

    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

/* #sidebar ul.category li.box {
    display: flex;
    justify-content: space-between;
 
} */

#sidebar ul.category li.box span {
    margin-left: 80px;
}

#sidebar ul.category li :hover {

    color: yellow;
}

#sidebar ul.category li a {
    color: #333333;
}



#sidebar h3 {
    font-size: 21px;
    text-transform: uppercase;
    padding: 12px 0px 12px 25px;
    margin: 0px;
    background: #283943;
    color: #ffffff;
}

#sidebar .ads {
    width: 326px;
    margin-top: 34px;
    margin-bottom: 50px;
}

#sidebar .hot-product li {
    display: flex;
    padding-top: 20px;
}

#sidebar .hot-product a img {
    width: 77px;
    padding-right: 9px;
    height: 110px;
}

#sidebar .hot-product .price {
    color: #d40707;
    margin: 18px auto 22px auto;
}

#sidebar .hot-product .price del {
    color: #909090;
}

#sidebar .hot-product .button a {
    color: #4f9cb0;
    border-bottom: 1px solid #4094a9;
    text-transform: capitalize;
}

#sidebar .hot-product a {
    font-size: 12px;
    margin: 0px;
    color: black;
}

/* end sidebar */
#footer {
    background: #1b1b1b;
    color: #ffffff;
    margin-top: 75px;
    padding-bottom: 87px;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}

#footer .container .logo {
    width: 355px;
}

#footer .container .logo p {
    padding-top: 33px;
    line-height: 29px;
}

#footer .container .category {
    width: 220px;
    flex-basis: 192px;
}

#footer .container .category h3 {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}

#footer .container .category ul {
    padding-top: 27px;
    line-height: 40px;
    list-style-type: disc;

}

#footer .container a {
    color: white;
}

#footer .container .selling h3 {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}

#footer .container .selling ul {
    padding-top: 27px;
    line-height: 40px;
    list-style-type: disc;
}

#footer .container .facebook {
    padding-top: 50px;
}

/* and footer  */
#copyright {
    background: #ffffff;
    color: black;
}

#copyright .container {
    text-align: center;
}